/*
    Gray: 6a6a6a
    Light Blue: b7d5d4
    Yellow: ffdd4a
    Orange: fe9000
    Blue: 14248a
*/


@font-face {
    font-family: textFont;
    src: url(./fonts/RebellionSquad-ZpprZ.ttf);
}

@font-face {
    font-family: titleFont;
    src: url(./fonts/Grovestreet-demo.ttf);
}


* {
    text-align: center;
    background-color: #14248A;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#textBox {
    margin-top: auto;
    width: 100vw;
    background-color: #6a6a6a;
}

p {
    font-family: textFont;
}

button {
    font-family: textFont;
    background-color: #b7d5d4;
}

#title {
    font-family: titleFont;
    font-size: 120px;
    color: #FE9000;
    align-self: center;
}

#startButton {
    font-family: textFont;
    font-size:80px;
    color: #FFDD4A;
    background-color: #6a6a6a;
    width: 300px;
    border-radius: 20px;
    align-self: center;
}

#musicButton {
    font-family: textFont;
    font-size: 30px;
    color: #FFDD4A;
    background-color: #6a6a6a;
    border-radius: 20px;
    align-self: center;
    width: 500px;
}

#continueText {
    display: none;
    font-size: 30px;
    margin-bottom: -50px;
}

#textBoxText {
    text-align: left;
    margin-top: -70px;
    font-size: 40px;
}

#battle-1 {
    display: none;
    align-self:center;
    background-color: rgba(0,0,0, 0.0);
    margin-top: -250px;
}

#battle {
    display: none;
    background-color: #000000;
    margin-top: auto;
    width: 100vw;
    height: 200px;
}